<div class="menu-panel" id="menu">
  <div class="d-flex gap-2 justify-content-evenly">
    <span class="p-float-label">
      <p-calendar id="start" [formControl]="startDate" placeholder="Select start date" dateFormat="yy-mm-dd"></p-calendar>
      <label for="start">Select start date</label>
    </span>

    <span class="p-float-label">
      <p-calendar id="end" [formControl]="endDate" placeholder="Select start date" dateFormat="yy-mm-dd"></p-calendar>
      <label for="end">Select end date</label>
    </span>
  </div>
</div>
